body {
    font-family: arial, sans-serif;
    background-image: url('../img/wallpaper.jpg');
    background-size: 20rem;
}

h1{
    color: red;
    text-align: center;
}

img:hover {
   scale: 1.1;
   transition: 0.3s; 
}

table {
    border: black 1px solid;
    
}